body,ul,li,a,img{
	padding: 0;
	margin: 0;
}
ul{
	list-style: none;
}
img{
	vertical-align: top;
}
/*确保轮播图垂直居中*/
.wrap{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
#container{
	width: 400px;
	height: 330px;
	position: relative;
	overflow: hidden;	
}
#inner{
	width: 600%;
	height: 100%;	
	position: absolute;
	left: 0;
	top: 0;
}
.img-item{
	float: left;
}
/*切换箭头样式*/
.arrow{
	width: 20px;
	height: 40px;
	background: rgba(0,0,0,0.2);
	font: 400 20px/40px simsun;
	color: #fff;
	text-align: center;
	position: absolute;
	top: 50%;
	margin-top: -20px;
	cursor: pointer;
}
#left-arrow{
	float: left;
	left: 0;
}
#right-arrow{
	float: right;
	right: 0;
}
.arrow:hover{
	background: rgba(0,0,0,0.5);
}
/*小圆点样式*/
#circle{	
	position: absolute;
	left: 50%;
	bottom: 0;
	margin-left: -50px;
}
#circle li{
	width: 15px;
	height: 15px;
	text-align: center;
	font: 400 12px/15px "microsoft yahei";
	color: #000;
	float: left;
	background: #fff;
	border-radius: 50%;
	margin-right: 5px;
	cursor: pointer;
}
#circle .current{
	background: red;
}
